*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #005ecb;
  --secondary-color: green;
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-900: #212529;
  --black: #000;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: var(--main-color);
  color: #000;
  font-size: 14px;
  line-height: 1.5;
}

section {
  padding: 4em 0;
}

footer {
  padding: 4em 0 0.25em;
}

@media (max-width: 768px) {
  section {
    padding: 7em 0;
  }
}
