.create-birthday-page {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.birthday-link-container {
  text-align: center;
}

.birthday-link-container .birthday-link {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  color: #1c8adb;
}

.hide-birthday-error {
  display: none;
}

.birthday-error {
  display: block;
}
