.cards-container {
  padding: 20px 2%;
}

.cards {
  column-count: 4;
  gap: 0.625rem;
}

.card {
  background: #fafafa;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);

  margin-bottom: 0.625rem;
  break-inside: avoid;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card .card-content .card-text {
  line-height: 1.5;
  padding: 2rem;
  text-align: center;
}

.card .card-content .card-text h2 {
  color: #363636;
  padding: 10px 0;
  text-transform: capitalize;
}

.card .card-content .card-text p {
  line-height: 22px;
  font-size: 15px;
}

.card-footer {
  padding: 0 2rem;
  padding-bottom: 0.5rem;
}

.card-footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-footer-content {
  overflow: hidden;
  border-top: 1px solid #999;
  padding-top: 0.5rem;
}

.card-footer-btns {
  display: flex;
}

.card-icon-btn {
  transform: scale(0.9);
}

@media (max-width: 1100px) {
  .cards-container {
    padding: 20px 8%;
  }
}

@media (max-width: 991px) {
  .cards {
    column-count: 2;
  }
}

@media (max-width: 650px) {
  .cards-container {
    padding: 20px;
  }
  .cards {
    column-count: 1;
  }

  .card-icon-btn {
    transform: scale(0.8);
  }
}
