a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.main-nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.75rem;
  padding: 1.25rem;
  font-size: 0.875rem;
  background-color: #24292f;
  color: #fff;
}

.main-nav ul {
  list-style: none;
  display: flex;
}

.main-nav ul li {
  padding: 0 0.625rem;
}

.main-nav .middle-nav li .mobile-nav-link:hover {
  color: #afb8c1;
}

.nav-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.middle-nav {
  display: none;
}

.left-nav {
  display: flex;
}

.mobile-nav-menu li {
  display: none;
}

.mobile-nav-link {
  text-decoration: none;
  border: none;
  background: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.right-nav {
  display: flex;
  align-items: center;
}

.right-nav li {
  position: relative;
  padding: 0.25rem !important;
}

.profile-icon {
  display: flex;
  justify-content: center;
  padding: 0 0.625rem;
}

.profile-icon img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.drop-down .sub-menu-box {
  display: none;
  position: absolute;
  min-width: 160px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  z-index: 4;
  border-radius: 0.25rem;
  top: 2.5rem;
  right: 10%;
}

.right-nav .drop-down:hover .sub-menu-box {
  display: block;
}

.sub-menu {
  flex-direction: column;
}

.sub-menu li {
  padding: 0.25rem 0.875rem !important;
}

.sub-menu li:hover {
  background-color: #218bff;
  cursor: pointer;
}

.sub-menu li .nav-link {
  text-decoration: none;
  border: none;
  background: none;
  color: #24292f;
  font-weight: 600;
  cursor: pointer;
}

.sub-menu li:hover .nav-link {
  color: #fff;
}

.sub-menu .single-link .nav-link {
  text-decoration: none;
  border: none;
  background: none;
  color: #24292f;
  font-weight: 600;
  cursor: pointer;
}

.sub-menu .single-link {
  padding: 0.25rem 0.875rem !important;
}

.sub-menu .single-link:hover {
  background-color: #218bff;
  cursor: pointer;
}

.sub-menu .single-link:hover .nav-link {
  color: #fff;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  right: 1.875rem;
  z-index: 2;
  display: none;
}

.submenu-border {
  border-bottom: #ccc solid 1px;
}

@media (max-width: 600px) {
  .menu-btn {
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .main-nav .middle-nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #24292f;
    width: 60%;
    border-right: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
    padding: 1.875rem;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
    z-index: 104;
  }

  .main-nav .middle-nav .profile-icon {
    align-self: center;
  }

  .middle-nav-menu {
    display: flex;
    flex-direction: column;
  }

  .profile-icon {
    margin-bottom: 1rem;
  }

  .profile-icon img {
    height: 64px;
    width: 64px;
  }

  .middle-nav .middle-nav-menu > li {
    padding: 15px;
    border-bottom: #ccc solid 1px;
  }

  .middle-nav .middle-nav-menu li:last-child {
    border-bottom: 0;
  }

  .middle-nav.show {
    transform: translateX(-20px);
  }

  ul.right-nav {
    display: none;
  }

  .right-nav {
    display: none;
  }

  .mobile-nav-link {
    display: block;
  }
}
